body {
  background-color: #87b5b5;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor-container,
.previewer-container {
  background-color: #c0d8d8;
  margin: 20px;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.editor-nav,
.previewer-nav {
  background-color: #4ba3a3;
  padding: 10px;
  color: white;
  font-weight: bold;
}

#editor {
  width: 100%;
  height: 200px;
  resize: none;
}

#preview {
  min-height: 300px;
}
